// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$taino-pink: #c60a76;
$taino-blue: #0395a3;
$taino-lightgray: #F0F0F0;
$taino-backgray: #f9f9f9;
$taino-mediumgray: #4d4d4d;
$taino-darkgray: #2F2E2E;
$taino-newgray: #838383;
$white: #FFFFFF;
$alert: #FE5A5F;

$light-gray: #F4F4F4;
$rbnb_blue: #0395a3;
$white: #FFFFFF;
$lightgray: #e8e3e3;
$darkgray: #353535;
$mediumgray: #b5b3b3;



