<h1 class="form-title">MEET OUR TEAM! </h1>

<div class="team">
  <div class="cointainer">
    <div class="row">
      <div class="col team-card">
        <div><%= image_tag "LEO.png", class: "avatar-huge", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %></div>
        <div><h2>LEO</h2></div>
        <h3> <i class="fas fa-globe-americas"></i> Lithuania </h3>
        <br>
        <p class="team-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac urna libero. Aliquam sapien augue, auctor ac tincidunt vitae, Poin arcu metus, dictum a metus in, fringilla dignissim semfringilla tellus.</p>
      </div>
      <div class="col team-card">
        <div><%= image_tag "MARTA.png", class: "avatar-huge", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %></div>
        <div><h2>MARTA</h2></div>
        <h3> <i class="fas fa-globe-americas"></i> PORTUGAL </h3>
        <br>
        <p class="team-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac urna libero. Aliquam sapien augue, auctor ac tincidunt vitae, Poin arcu metus, dictum a metus in, fringilla dignissim semfringilla tellus.</p>
      </div>
      <div class="col team-card">
        <div><%= image_tag "JAQUELINE.png", class: "avatar-huge", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %></div>
        <div><h2>JAQUELINE</h2></div>
        <h3> <i class="fas fa-globe-americas"></i> PORTUGAL/BRASIL </h3>
        <br>
        <p class="team-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac urna libero. Aliquam sapien augue, auctor ac tincidunt vitae, Poin arcu metus, dictum a metus in, fringilla dignissim semfringilla tellus.</p>
      </div>
      <div class="col team-card">
        <div><%= image_tag "RAFAEL.png", class: "avatar-huge", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %></div>
        <div><h2>RAFAEL</h2></div>
        <h3> <i class="fas fa-globe-americas"></i> PORTUGAL </h3>
        <br>
        <p class="team-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac urna libero. Aliquam sapien augue, auctor ac tincidunt vitae, Poin arcu metus, dictum a metus in, fringilla dignissim semfringilla tellus.</p>
      </div>
    </div>
  </div>
</div>
