<h1 class="form-title">MEET OUR TEAM! </h1>

<div class="team">
  <div class="cointainer">
    <div class="row">
      <div class="col team-card">
        <div><%= image_tag "LEO.png", class: "avatar-huge", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %></div>
        <div class="team-name">LEO</div>
        <h3> <i class="fas fa-globe-americas"></i> Lithuania </h3>
        <br>
        <div class="team-links">
          <div><i class="fab fa-linkedin"></i></div>
          <div><a href="https://www.linkedin.com/in/vleoncikas/"><h5>/vleoncikas</h5></a></div>
          <br>
          <div><i class="fas fa-envelope"></i></div>
          <div><p>v.leo@protonmail.com</p></div>
        </div>
      </div>
      <div class="col team-card">
        <div><%= image_tag "MARTA.png", class: "avatar-huge", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %></div>
        <div class="team-name">MARTA</div>
        <h3> <i class="fas fa-globe-americas"></i> PORTUGAL </h3>
        <br>
        <div class="team-links">
          <i class="fab fa-linkedin"></i>
          <div><a href="https://www.linkedin.com/in//martavicenteramos/"><h5>/martavicenteramos</h5></a></div>
          <br>
          <div><i class="fas fa-envelope"></i></div>
          <div><p>martavmr26297@gmail.com</p></div>
        </div>
      </div>
      <div class="col team-card">
        <div><%= image_tag "JAQUELINE.png", class: "avatar-huge", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %></div>
        <div class="team-name">JAQUELINE</div>
        <h3> <i class="fas fa-globe-americas"></i> PORTUGAL/BRAZIL </h3>
        <br>
        <div class="team-links">
          <div><i class="fab fa-linkedin"></i></div>
          <div><a href="https://www.linkedin.com/in/jaquelinepinto/"><h5>/jaquelinepinto</h5></a></div>
          <br>
          <div><i class="fas fa-envelope"></i></div>
          <div><p>jaque86@gmail.com</p></div>
        </div>
      </div>
      <div class="col team-card">
        <div><%= image_tag "RAFAEL.png", class: "avatar-huge", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %></div>
        <div class="team-name">RAFAEL</div>
        <h3> <i class="fas fa-globe-americas"></i> PORTUGAL </h3>
        <br>
        <div class="team-links">
          <div><i class="fab fa-github"></i></div>
          <div><a href="https://github.com/Rpsoaress"><h5>/Rpsoaress</h5></a></div>
          <br>
          <div><i class="fas fa-envelope"></i></div>
          <div><p>soares.pratas.r@gmail.com</p></div>
        </div>
      </div>
    </div>
  </div>
</div>
