<%= render 'components/banner' %>

<%= render 'components/text-examples' %>

<%= link_to "products", products_path, class: "gray-btn"%>
<br>
<br>
<button type="button" class="gray-btn">gray-btn</button>
<br>
<br>
<button type="button" class="blue-btn">blue-btn</button>
<br>
<br>
<button type="button" class="pink-btn">pink-btn</button>
<br>

