.avatar-huge {
  width: 200px;
  // filter:saturate(0.7);
  // filter:brightness(120%);
  filter:grayscale(50%);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 50%;
  margin: 0px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border: 7px solid rgba(255, 255, 255, 1);
}

.team-card {
  display: flex;
  padding: 20px 20px;
  width: 70px;
  margin: 20px;
  flex-direction: column;
  align-items: center;
  background: $white;
  line-height: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  border: 1px solid $taino-lightgray;
}

.team {
  background-color: rgba(200, 200, 200, .08);
  padding: 0px 20px;
}

.team-text {
  text-align: justify;
  color: $taino-newgray;
  padding: 15px;
}

.team .container {
  display: flex;
  flex-direction:row;
  margin: 20px;
  padding: 20px;
}

.bluee {
  color: $taino-blue;
}

.pinkk {
  color: $taino-pink;
}

.team-links {
  display: flex;
  flex-direction: column;
  color: $taino-mediumgray;
  align-items: center;

  i {
    font-size: 25px;
    color: rgba(200, 200, 200, .8);
    margin-bottom: 10px;
  }

  p {
    color: $taino-mediumgray;
    font-style: $headers-font;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 5px;
  }

}


.team-name {
  margin: 18px 0px;
  font-family: $headers-font;
  color: $white;
  font-size: 18px;
  background-color: rgba(4, 149, 163, .5);
  text-transform: uppercase;
  width: 100%;
  height: 30px;
  letter-spacing: 5px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.email {

  i {
    margin-bottom: 0px;
  }
}
