.black-friday-banner {
  width: 100%;
  display: flex;
  color: white;
  top: 65px;
  height: 40px;
  background-color: $taino-newgray;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  opacity: .6;

  h1 {
    padding: 0px;
    margin: 0px;
    font-weight: 500;
  }
}

