.gray-btn {
  background-color: $taino-newgray;
  color: $white;
  font-family: $headers-font;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 5px;
  padding: 10px 18px;
  text-transform: uppercase;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.gray-btn:hover {
  opacity: .5;
  text-decoration: none;
}

.blue-btn {
  background-color: $taino-blue;
  color: $white;
  font-family: $headers-font;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 5px;
  padding: 10px 18px;
  text-transform: uppercase;
  border-radius: 7px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  opacity: .8;
  text-align: center;
}

.blue-btn:hover {
  opacity: .5;
  text-decoration: none;
}

.pink-btn {
  background-color: $taino-pink;
  color: $white;
  font-family: $headers-font;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 5px;
  padding: 10px 18px;
  text-transform: uppercase;
  border-radius: 7px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  opacity: .7;
  text-align: center;
}

.pink-btn:hover {
  opacity: .5;
  text-decoration: none;
}

