// >>>>>>>>>> THIS CONTENT IS HERE TO FIX THE FOOTER TO THE BOTTOM <<<<<<<<<<<<<


body {
  position: relative;
  margin: 0;
  padding-bottom: 350px;
  min-height: 100%;
}

html {
  height: 100%;
  box-sizing: border-box;
}

// <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<


.footer {
  background: rgba(240, 240, 240, .7);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgba(0,0,0,0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  padding: 30px 45px 20px 45px;
  margin-top: 25px;
  height:350px;
  width:100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  h2 {
    color: $black;
    opacity: .9;
    font-size: 15px;
  }
}

.footer-logo {
  width: 130px;
}

.footer .container-fluid .footer-elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 45px;
  width: 100%;
  align-items: flex-start;
  margin-left: 12%;
}

.contacts {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}

.links {
  text-decoration: none;
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;

  li:hover {
    opacity: .6;
    color: $taino-blue;
  }
}

.links-text {
  line-height: 30px;
  margin: 0px;
  color: $taino-darkgray;

  a:hover {
    li:hover {
    opacity: .6;
    color: $taino-blue;
  }
  }
}

.footer-links {
  display: flex;
  align-items: left;
  flex-direction: row;
  justify-content: flex-start;

  i {
    font-size: 23px;
    color: $taino-newgray;
    opacity: .7;
    margin-right: 20px;
  }
  i:hover {
    opacity: .6;
    color: $taino-blue;
  }
}

