// >>>>>>>>>> THIS CONTENT IS HERE TO FIX THE FOOTER TO THE BOTTOM <<<<<<<<<<<<<


body {
  position: relative;
  margin: 0;
  padding-bottom: 350px;
  min-height: 100%;
}

html {
  height: 100%;
  box-sizing: border-box;
}

// <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<


.footer {
  background-color: $taino-backgray;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgba(0,0,0,0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  padding: 30px 45px 20px 45px;
  margin-top: 35px;
  height:350px;
  width:100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  h2 {
    color: $black;
    opacity: .9;
    font-size: 15px;
  }

  .links {
    text-decoration: none;
    list-style: none;
    margin-bottom: 0px;
    // padding-left: 90px;
  }

  ul {
    padding-inline-start: 0px;
  }

  li:hover {
    opacity: .6;
    color: $taino-blue;
  }
}

.footer-logo {
  width: 130px;
}

.footer .container .footer-elements {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.footer .container .footer-image {
  margin-bottom: 40px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}

.footer-box {
  display: flex;
  justify-content: center;
}


.links-text {
  line-height: 30px;
  margin: 0px;
  color: $taino-darkgray;

  a:hover {
    li:hover {
    opacity: .6;
    color: $taino-blue;
  }
  }
}

.footer-links {
  display: flex;
  align-items: left;
  flex-direction: row;
  justify-content: flex-start;

  i {
    font-size: 23px;
    color: $taino-newgray;
    opacity: .7;
    margin-right: 20px;
  }
  i:hover {
    opacity: .6;
    color: $taino-blue;
  }
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .footer {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .footer {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

