.basic-form {
  background-color: $taino-backgray;
  color: $taino-darkgray;
  font-style: $headers-font;
  border-radius: 5px;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.12);
  margin: 0px 30% 30px 30%;
  border-color: $taino-lightgray;
  font-size: 12px;

  .form-group.string {
    padding-bottom: 1px;
  }

  input[type=text] {
    font-size: 13px;
    font-style: inherit;
  }

  input[type=email] {
    font-size: 13px;
    font-style: inherit;
  }
}

.form-title {
  text-align: center;
  font-size: 18px;
  color: $taino-pink;
  margin: 25px;
  opacity: .8;
  font-weight: 500;
}

.form-actions {
  text-align: center;
}

.size-form {
  background-color: transparent;
  color: #2F2E2E;
  font-size: 12px;
  font-style: "Montserrat", "Helvetica", "sans-serif";
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 30px;
  width: 250px;
  margin: 15px 15px 30px 0px;
  border-color: #F0F0F0;
}

// <<<<<<<<<<<<< FORM FOR PREFERENCES>>>>>>>>>>>>>>>>>>>>>>>>

.prod-index-form {
  // background-color: $taino-backgray;
  // border-color: $taino-lightgray;
  // box-shadow: 0 0 10px rgba(0,0,0,0.12);
  color: $taino-darkgray;
  font-style: $headers-font;
  border-radius: 5px;
  padding: 0px;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 30px;
  margin: 0px;
  font-size: 12px;

  h4 {
    font-size: 14px;
    text-align: left;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .form-group.string {
    padding-bottom: 1px;
  }

  label {
    font-size: 12.5px;
    font-style: inherit;
    color: $black;
    text-align: center;
  }

  .form-check-label {
    color: $taino-mediumgray;
    font-size: 12px;
  }

  .col-form-label {
    font-size: 12.5px;
    font-style: inherit;
    color: $black;
  }


  .form-check {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .form-control {
    font-size: 13px;
    font-style: inherit;
  }

  .legend {
    margin-top: 10px;
  }

  input[type=text] {
    font-size: 13px;
    font-style: inherit;
  }

  input[type=email] {
    font-size: 13px;
    font-style: inherit;
  }
}

.user-preferences {
  .form-inputs.basic-form {
  background-color: $taino-backgray;
  color: $taino-darkgray;
  font-style: $headers-font;
  border-radius: 5px;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.12);
  margin: 0px 25% 30px 25%;
  border-color: $taino-lightgray;
  font-size: 12px;
  }

  .col-form-label {
    font-size: 13px;
    font-style: inherit;
    color: $taino-pink;
    text-align: center;
  }
}


