.navbar-lewagon {
  justify-content: space-between;
  background-color: $white;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  color: $taino-darkgray;
  height: 65px; // if changed needs to be changed in card media queries
  top: 0;
  position: sticky;
  z-index:4;
  padding: 8px 20px;
}

.nav-item i {
  color: $taino-newgray;
  font-size: 16px;
  vertical-align: center;
  padding: 12px 15px;
}

.navbar-brand img {
  width: 130px;
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-item i:hover {
  color: $taino-blue;
  opacity: .8;
}

.nav-link {
  color: $taino-mediumgray;
  font-style: $headers-font;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 5px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  right: 47%;
}

// .nav-link a {
//   padding: 10px 25px;
// }
.nav-link:hover {
  color: $taino-blue;
  opacity: .8;
}

.nav-item-centered {
  display: flex;
  position: absolute;
  left: 50%;
}

.dropdown-item {
  color: $taino-newgray;
  font-style: $headers-font;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 5px;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
}
