// >>>>>>>>>>>>>>>>>> TITLES <<<<<<<<<<<<<<<<<<<

h1 {
  font-style: $headers-font;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h2 {
  color: $taino-mediumgray;
  font-style: $headers-font;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h3 {
  color: $taino-mediumgray;
  font-style: $headers-font;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h4 {
  color: $taino-darkgray;
  font-style: $headers-font;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h5 {
  color: $taino-mediumgray;
  font-style: $headers-font;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

p {
  color: $taino-mediumgray;
  font-style: $headers-font;
  // font-style: bold;
  font-size: 15px;
  letter-spacing: 3px;
}

.other-texts {
  color: $taino-mediumgray;
  font-family: $body-font;
  font-style: bold;
  font-size: 12px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 25px;
}


// >>>>>>>>>>>>>>>>>> MARGINS & PADDINGS <<<<<<<<<<<<<<<<<<<

.pad15tb {
  padding: 15px 0px;
}

.pad15all {
  padding: 15px;
}

.italic {
  font-style: italic;
}

.margin10l {
  margin-left: 10px;
}

.margin45t {
  margin-top: 45px;
}

.margin35tb {
  margin: 35px 0px;
}

.margin10lr {
  margin: 0px 10px;
}


// >>>>>>>>>>>>>>>>>> LINKS E HOVERS <<<<<<<<<<<<<<<<<<<

// a:hover {
//   text-decoration: none;
//   color: $taino-blue;
//   opacity: .7
// }

.border-table {
  border-bottom: 0.5px solid $taino-lightgray;
}

