
.img-profile {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  height: 100px;
}

.user-info {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 7px;
  border-color: $darkgray;
  border-width: thin;
  padding: 20px;
}

.btn-user {
  background-color: $rbnb_blue;
  color: $white;
  padding: 7px 12px;
  border-radius: 7px;
  opacity: 1;
  font-size: 12px;
  letter-spacing: 4px;
  align: middle;
  text-transform: uppercase
}

.user-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 10%;
  align-items: center;
  border-color: rgba(0, 0, 0, .1);
  border-width: 0px 0px 1px 0px;
  border-style: dotted;

  .row {
    align-items: center;
  }
}

.user-box {
  padding: 20px;
  margin: 0px 15px;
  width: 40vw;
  align-items: center;
  text-align: center;
}

.edit-user {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.generic-bar {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: space-around;
  padding: 25px;
  align-items: center;
}

.maintitle {
  text-align: center;
  margin: 40px 0px;
  // align: middle;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: $rbnb_blue;
  font-weight: bold;
  font-size: 22px;
}

.user-title {
  .form-title {
    margin-top: 30px;
    margin-bottom: 0px;
  }
}

