<div class="ais-InstantSearch">
  <h1>InstantSearch.js e-commerce demo</h1>
  <div class="right-panel">
<!--     <div id="searchbox"> -->
    <div id="searchbox">
      <%= text_field_tag :search, nil, id: "algolia-search" %>
    </div>

    <div id="hits"></div>

    <div id="pagination"></div>
  </div>
</div>
