<div class="ais-InstantSearch container-fluid">
  <div class="row">
   <div class="centered col-10 centered">
      <%= text_field_tag :search, nil, id: "algolia-search", placeholder:'Search by typing key features...', autofocus: true %>
    </div>
  </div>

  <div class="row">
    <div id="hits" class="cards col-lg-10 centered"></div>
  </div>
</div>
